
@model QuanLySinhVien_Database_First.Models.Lop
<table class="table">
     <thead>
         <tr>
             <th> Mã lớp </th>
             <th> Tên lớp</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>@Model.Malop</td>
             <td>@Model.Tenlop</td>
         </tr>
     </tbody>
</table>